<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="{{ og.default.description }}">
  <meta name="keywords" content="SimLEARN">
  <title>Home | SimLEARN</title>

  <meta property="og:title" content="{{ og.default.title }}">
  <meta property="og:url" content="{{ site.baseUrl }}{{ page.url }}">
  <meta property="og:description" content="{{ og.default.description }}">
  <meta property="og:type" content="{{ og.default.type }}">
  <meta property="og:image" content="{{ og.default.image }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% assetPath %}assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="{% assetPath %}assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="{% assetPath %}assets/uswds/js/uswds-init.min.js"></script>
  <style>
    :root {
      --asset-path: "{% assetPath %}";
    }
  </style>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper page-home">
      {% include "banner.liquid" %}

      {% capture cleanAssetPath %}{% assetPath %}{% endcapture %}

      {% assign normalizedPageUrl = page.url %}
      {% if normalizedPageUrl == "" or normalizedPageUrl == nil %}
        {% assign normalizedPageUrl = "/" %}
      {% endif %}
      
      {% include "header.liquid", currentPageUrl: cleanAssetPath | append: normalizedPageUrl %}
      

        <main>
            {% include "home/01-hero.liquid" %}
            {% include "home/02-feature-cta.liquid" %}
            {% include "home/03-transforming-healthcare.liquid" %}
            {% include "home/04-what-can-we-do.liquid" %}
            {% include "home/05-what-is-simlearn.liquid" %}
            {% include "home/06-im-looking-for.liquid" %}
            {% include "home/07-programs.liquid" %}
        </main>

        {% include "footer.liquid" %}

    </div>
    <!-- SITE WRAPPER - END -->

    {% include "scripts.liquid" %}

</body>

</html>
