@use "uswds-core" as *;
@use "vha/variables" as *;

.usa-nav {

    &__submenu {
        background-color: #ffffff;
        margin-top: 8px;
        border-radius: 6px;
        box-shadow: 1px 5px 10px rgba($color: #000000, $alpha: .1);
        overflow: hidden;
        
        .usa-nav__submenu-item {

            a {
                padding: 1rem;
                color: $theme-base-darkest;
                
                &:hover {
                    background-color: $theme-base-lightest;
                    color: $theme-base-darkest;
                }

                &.usa-current {
                    box-shadow: inset 0px -2px 0px $theme-primary;
                    color: $theme-primary
                }
            }
        }
    }
}
