<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>About Us | SimLEARN</title>

  <meta property="og:title" content="{{ og.default.title }}">
  <meta property="og:url" content="{{ site.baseUrl }}{{ page.url }}">
  <meta property="og:description" content="{{ og.default.description }}">
  <meta property="og:type" content="{{ og.default.type }}">
  <meta property="og:image" content="{{ og.default.image }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% assetPath page %}css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="{% assetPath page %}img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="{% assetPath page %}uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "banner.liquid" %}
      {% include "header.liquid",  currentPageUrl: page.url %}

        <main>
            <div style="height: 200px;"></div>
            <p>Asset Path: {% assetPath page %}</p>

        </main>

        {% include "footer.liquid" %}

    </div>
    <!-- SITE WRAPPER - END -->

    {% include "scripts.liquid" %}

</body>

</html>