<script>
  const assetPath = "{{ assetPath }}";
</script>
<section class="usa-section bg-primary-dark margin-top-neg-10 cta-section position-relative overflow-hidden">
  <div style="background-image: url('{% assetPath %}assets/img/home/grid-bg.svg');" class="bg-grid position-absolute width-full height-full margin-top-neg-8">
</div>
  <div class="grid-container position-relative z-100">
    <div class="grid-row display-flex flex-justify-center text-center padding-top-9 tablet:padding-top-10 mobile:padding-bottom-4 tablet:padding-bottom-2 padding-bottom-15">
      
      <div class="grid-col-12 tablet-lg:grid-col-9 display-flex flex-justify-space-between flex-wrap">

        <div class="tablet:grid-col-4 text-center display-flex flex-column flex-align-center mobile:margin-bottom-6 tablet:margin-bottom-0 margin-bottom-3">
          <div class="usa-icon-list__icon">
            <div class="lottie-icon" id="lottie-tour"></div>
          </div>
          <h3 class="usa-heading text-white margin-bottom-1">
            Tour the National<br /> Simulation Center
          </h3>
          <a href="/contact-us" class="text-white">
            Request a site visit
          </a>
        </div>

        <div class="tablet:grid-col-4 text-center display-flex flex-column flex-align-center mobile:margin-bottom-6 tablet:margin-bottom-0 margin-bottom-3">
          <div class="usa-icon-list__icon">
            <div class="lottie-icon" id="lottie-course"></div>
          </div>
          <h3 class="usa-heading text-white margin-bottom-1">
            Find a Course
          </h3>
          <a href="/course-catalog" class="text-white">
            View the course catalog
          </a>
        </div>

        <div class="tablet:grid-col-4 text-center display-flex flex-column flex-align-center mobile:margin-bottom-0 margin-bottom-3">
          <div class="usa-icon-list__icon">
            <div class="lottie-icon" id="lottie-certified"></div>
          </div>
          <h3 class="usa-heading text-white margin-bottom-1">
            Become a Certified<br />Simulation Center
          </h3>
          <a href="/about-us" class="text-white">
            Learn more
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
