<section class="usa-section display-flex flex-align-stretch position-relative img-card-section padding-y-5 tablet:padding-y-7 desktop:padding-y-0 bg-base-lightest overflow-hidden">
  <div class="grid-container tablet:margin-x-0 desktop:margin-x-4 padding-x-2 desktop:padding-x-4 width-full desktop:width-auto">
    <div class="grid-row grid-gap-lg height-full flex-align-center">
      <div class="grid-col-12 flex-align-center">
        <div>
            <p class="usa-label text-uppercase text-primary text-bold text-gradient text-indent-border">Explore SimLEARN</p>
            <h2 class="text-primary-darker margin-top-0">What is SimLEARN?</h2>
            <ul class="usa-list usa-list--unstyled list-buttons">

              <li class="border-bottom">
                <a href="/portfolio/simvet/" class="btn-text-gradient position-relative display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">More Information on the National SimVET Center</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>

              <li class="border-bottom">
                <a href="/portfolio/simlearn/" class="btn-text-gradient position-relative display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">SimLEARN Leadership</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>

              <li class="border-bottom">
                <a href="/contact/" class="btn-text-gradient position-relative display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">How can I get involved with SimLEARN?</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>

              <li class="">
                <a href="/about-us" class="btn-text-gradient position-relative display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">What is Simulation?</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="img-cover-container margin-x-2 desktop:margin-x-0 margin-top-5 margin-bottom-3 tablet:margin-bottom-3 desktop:margin-y-0 overflow-hidden">
    <picture>
      <source media="(max-width: 1023px)" srcset="{% assetPath %}assets/img/home/vr-training-tablet.webp" />
      <source media="(min-width: 1024px)" srcset="{% assetPath %}assets/img/home/vr-training.webp" />
      <img 
      src="{% assetPath %}assets/img/home/vr-training.webp"
      alt="People using vr headsets looking at a monitor"
        class="width-full height-full img-cover" />
    </picture>
  </div>
</section>


