<section class="usa-section display-flex flex-align-stretch position-relative img-card-section padding-y-5 tablet:padding-y-0 bg-white overflow-hidden">
  <div class="grid-container width-full desktop:width-auto">
    <div class="grid-row grid-gap-lg height-full flex-align-center">
      <div class="grid-col-12 flex-align-center">
        <div>
            <p class="usa-label text-uppercase text-primary text-bold text-gradient text-indent-border">Explore SimLEARN</p>
            <h2 class="text-primary-darker margin-top-0">I’m looking for a course</h2>
            <ul class="usa-list usa-list--unstyled list-buttons">

              <li class="border-bottom">
                <a href="/about-us/" class="btn-text-gradient display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">I don't know what I'm looking for, help me choose</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>

              <li class="border-bottom">
                <a href="/portfolio/redi/" class="btn-text-gradient display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">National Training Center for Resuscitation Education</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>

              <li class="border-bottom">
                <a href="/portfolio/aco/" class="btn-text-gradient display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">Simulation-based Hospital Design Testing (SbHDT)</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>

              <li class="">
                <a href="/course-catalog" class="btn-text-gradient display-flex flex-justify-between text-no-underline text-bold">
                  <span class="text-black">Pre/Post Toolbox Course</span>
                  <img src="{% assetPath %}assets/img/icons/right-arrow.svg" alt="right arrow" class="margin-left-auto" />
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="img-cover-container padding-x-2 desktop:padding-x-0 margin-y-6 desktop:margin-y-0 overflow-hidden">
    <img
      src="{% assetPath %}assets/img/home/conference-group.webp"
      alt="Attendees listening to a presentation in a classroom setting"
      class="width-full height-full img-cover"
    />
  </div>
</section>


