<section class="usa-section programs-section padding-y-4 desktop:padding-y-15 bg-white">
  <div class="grid-container">
    <div class="grid-row grid-gap-0">

      <div class="mobile-lg:grid-col-12 tablet:grid-col-6 desktop:grid-col-4 border-right border-bottom program-col">
        <a href="/portfolio/simvet" class="display-block text-no-underline padding-4 radius-lg margin-0 height-full">
          <h3 class="text-base-darkest text-bold margin-y-0">SimVET</h3>
          <p class="margin-bottom-1 text-base-darkest text-bold program-title">
            Simulation Validation, Evaluation, and Testing
          </p>
          <p class="text-base-darker margin-top-0">
            SimVET empowers Veterans Health Administration modernization by ensuring the safe integration and testing of cutting-edge health care technologies before deployment, enhancing care and reducing risks.
          </p>
        </a>
      </div>
      
      <div class="mobile-lg:grid-col-12 tablet:grid-col-6 desktop:grid-col-4 border-right border-bottom program-col">
        <a href="/portfolio/redi" class="display-block text-no-underline padding-4 radius-lg margin-0 height-full">
          <h3 class="text-bold text-base-darkest margin-y-0">REdI</h3>
          <p class="margin-bottom-1 text-base-darkest text-bold program-title">
            Resuscitation Education and Innovation
          </p>
          <p class="text-base-darker margin-top-0">
            REdI drives excellence in resuscitation education across VHA by providing standardized training, enhancing team performance, and supporting local facilities with quality improvement through simulation-based assessments.
          </p>
        </a>
      </div>

      <div class="mobile-lg:grid-col-12 tablet:grid-col-6 desktop:grid-col-4 border-bottom program-col">
        <a href="/portfolio/lm" class="display-block text-no-underline padding-4 radius-lg margin-0 height-full">
          <h3 class="text-bold text-base-darkest margin-y-0">LM</h3>
          <p class="margin-bottom-1 text-base-darkest text-bold program-title">
            Learning Management
          </p>
          <p class="text-base-darker margin-top-0">
            Learning Management advances VA’s clinical simulation training through the SLICE Network, delivering innovative, cost-effective educational solutions that improve Veteran health outcomes and reduce clinician time away from care.
          </p>
        </a>
      </div>

      <div class="mobile-lg:grid-col-12 tablet:grid-col-6 desktop:grid-col-4 border-right program-col">
        <a href="/portfolio/aco" class="display-block text-no-underline padding-4 radius-lg margin-0 height-full">
          <h3 class="text-bold text-base-darkest margin-y-0">ACO</h3>
          <p class="margin-bottom-1 text-base-darkest text-bold program-title">
            Assessment, Collaboration and Outreach
          </p>
          <p class="text-base-darker margin-top-0">
            Assessment, Collaboration, and Outreach (ACO) enhances Veteran care by using simulation-based training and best practices to optimize resources, support hospital activations, and drive innovation across VHA.
          </p>
        </a>
      </div>

      <div class="mobile-lg:grid-col-12 tablet:grid-col-6 desktop:grid-col-4 border-right program-col">
        <a href="/portfolio/cte" class="display-block text-no-underline padding-4 radius-lg margin-0 height-full">
          <h3 class="text-bold text-base-darkest margin-y-0">CTE</h3>
          <p class="margin-bottom-1 text-base-darkest text-bold program-title">
            Clinical Training and Engagement
          </p>
          <p class="text-base-darker margin-top-0">
            Clinical Training and Engagement (CTE) delivers expert simulation training and fosters interprofessional collaboration to improve clinical practice, enhance Veteran safety, and support VHA initiatives.
          </p>
        </a>
      </div>

      <div class="mobile-lg:grid-col-12 tablet:grid-col-6 desktop:grid-col-4 program-col">
        <a href="/portfolio/so" class="display-block text-no-underline padding-4 radius-lg height-full">
          <h3 class="text-bold text-base-darkest margin-y-0">SO</h3>
          <p class="margin-bottom-1 text-base-darkest text-bold program-title">
            Support Operations
          </p>
          <p class="text-base-darker margin-top-0">
            Support Operations is the backbone of SimLEARN, managing activity coordination, equipment safety, and facility operations to ensure a seamless and safe environment for training and events.
          </p>
        </a>
      </div>
      
    </div>
  </div>
</section>