<section class="usa-section bg-primary-dark">
  <div class="grid-container">
    <div class="grid-row grid-gap-lg text-center">

      <div class="tablet:grid-col-4">
        <div class="usa-icon-list__icon">
            <div class="lottie-icon" id="lottie-tour"></div>
        </div>
        <h3 class="usa-heading font-sans-md text-white">
          Tour the National Simulation Center
        </h3>
        <a href="path-to-tour" class="usa-link text-white">
          Request a site visit
        </a>
      </div>

      <div class="tablet:grid-col-4">
        <div class="usa-icon-list__icon">
            <div class="lottie-icon" id="lottie-course"></div>
        </div>
        <h3 class="usa-heading font-sans-md text-white">
          Find a Course
        </h3>
        <a href="path-to-course-catalog" class="usa-link text-white">
          View the course catalog
        </a>
      </div>
      
      <div class="tablet:grid-col-4">
        <div class="usa-icon-list__icon">
            <div class="lottie-icon" id="lottie-certified"></div>
        </div>
        <h3 class="usa-heading font-sans-md text-white">
          Become a Certified Simulation Center
        </h3>
        <a href="path-to-certification" class="usa-link text-white">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>