<section class="usa-section position-relative margin-top-neg-10 usa-section--hero">
  <div class="grid-container">
    <div class="grid-row grid-gap-lg">
      <div class="tablet:grid-col-6 position-relative">
        <div class="bg-white padding-2 radius-md shadow-md text-overlap">
          <h1 class="usa-heading font-sans-xl text-bold">
            Serving The Largest Integrated Health Care System
          </h1>
          <p class="usa-body">
            SimLEARN is pioneering health care transformation within the VA by empowering providers with immersive, simulation-based training to enhance patient safety and deliver exceptional care to Veterans.
          </p>
          <a class="usa-button usa-button--primary" href="#contact">
            Get in touch with us →
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="position-absolute right-0 top-0 height-full width-50 image-container">
    <img
      src="/assets/img/home/simlearn-hero.webp"
      alt="A healthcare provider using VR equipment for immersive training"
      class="width-full height-full"
    />
  </div>

  <div class="grid-container">
    <div class="grid-row flex-align-center margin-top-4">
      <div class="grid-col-12 text-center text-white">
        <span class="usa-icon" aria-hidden="true">
            <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4689 0C13.9811 0 8.70312 5.27801 8.70312 11.7657V28.2343C8.70312 34.722 13.9811 40 20.4689 40C26.9566 40 32.2346 34.722 32.2346 28.2343V11.7657C32.2346 5.27801 26.9566 0 20.4689 0ZM29.8347 28.2343C29.8347 33.3984 25.6331 37.6001 20.4689 37.6001C15.3047 37.6001 11.103 33.3984 11.103 28.2343V11.7657C11.103 6.60156 15.3047 2.3999 20.4689 2.3999C25.6331 2.3999 29.8347 6.60156 29.8347 11.7657V28.2343Z" fill="white"/>
            <path d="M20.4692 7.95715C19.8063 7.95715 19.2692 8.49426 19.2692 9.1571V14.6802C19.2692 15.3427 19.8063 15.8801 20.4692 15.8801C21.1317 15.8801 21.6691 15.3427 21.6691 14.6802V9.1571C21.6691 8.49426 21.132 7.95715 20.4692 7.95715Z" fill="white"/>
            </svg>            
        </span>
        <p class="usa-body margin-top-1">Scroll Down</p>
      </div>
    </div>
  </div>
</section>
