<section class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap-lg">

      <div class="tablet:grid-col-6 display-flex flex-align-center">
        <div>
        <p class="usa-label text-uppercase text-primary">Explore SimLEARN</p>
        <h2 class="usa-heading font-sans-xl">I’m looking for a course</h2>
        <ul class="usa-list usa-list--unstyled">

          <li class="border-bottom-1px padding-y-2">
            <a href="path-to-course-help-me-choose" class="usa-link display-flex flex-justify-between">
              <span>I don't know what I'm looking for, help me choose</span>
              <svg class="usa-icon text-primary" aria-hidden="true">
                <use xlink:href="path-to-icon-sprite#arrow"></use>
              </svg>
            </a>
          </li>

          <li class="border-bottom-1px padding-y-2">
            <a href="path-to-course-resuscitation-education" class="usa-link display-flex flex-justify-between">
              <span>National Training Center for Resuscitation Education</span>
              <svg class="usa-icon text-primary" aria-hidden="true">
                <use xlink:href="path-to-icon-sprite#arrow"></use>
              </svg>
            </a>
          </li>

          <li class="border-bottom-1px padding-y-2">
            <a href="path-to-course-sbhdt" class="usa-link display-flex flex-justify-between">
              <span>Simulation-based Hospital Design Testing (SbHDT)</span>
              <svg class="usa-icon text-primary" aria-hidden="true">
                <use xlink:href="path-to-icon-sprite#arrow"></use>
              </svg>
            </a>
          </li>

          <li class="padding-y-2">
            <a href="path-to-course-prepost-toolbox" class="usa-link display-flex flex-justify-between">
              <span>Pre/Post Toolbox Course</span>
              <svg class="usa-icon text-primary" aria-hidden="true">
                <use xlink:href="path-to-icon-sprite#arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
        </div>
      </div>

      <div class="tablet:grid-col-6 display-flex flex-align-stretch">
        <img
          src="/assets/img/home/conference-group.webp"
          alt="Attendees listening to a presentation in a classroom setting"
          class="width-full height-full radius-lg shadow-md"
        />
      </div>
    </div>
  </div>
</section>